<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Наша команда</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
<h1>Вітаємо на сайті команди!</h1>
<p>Ми – команда студентів 3-го курсу, потоку IM,кафедри ОТ, які вивчають Spring Boot,команда давно один одного знає та злагоджено працює.</p>
<ul>
    <li><a href="/info/Kolesnyk">Учасник 1</a></li>
    <li><a href="/info/Butkevych">Учасник 2</a></li>

</ul>
</div>
</body>
</html>
